.grid-div{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 40px;
    width: 1400px;
    margin:auto;
    margin-top: 150px;
}

.grid-div > div{
    width: fit-content;
    
}

img{
    width: 300px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  
}